.forgot-component {
  margin: 0px;
  padding: 0px;
  background-color: var(--paper);
  align-items: center;
  display: flex;
  flex-direction: column;

  input {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .sign-in-btn {
    background-color: var(--accent);
    color: var(--paper);
  }
  a {
    text-align: center;
    text-decoration: none;
    color: var(--accent);
  }

  p {
    background-color: var(--paper);
    font-size: 15px;
    margin: 20px 0px;
  }
}

.forgot-form {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--paper);
  text-align: center;
  padding: 10px;
  margin: 0px;
  border: 1px solid var(--bgForm);
  button {
    width: 100%;
    background-color: transparent;
    border: none;
  }
}
