.main-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 70px auto;
  margin-bottom: 30px;
  @media screen and (max-width: 450px) {
    & {
      width: 100%;
    }
  }

  .form-container {
    padding: 50px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--paper);
    border: 1px solid var(--bgForm);
    .logo {
      width: 250px;
      background-color: var(--paper);
      margin-bottom: 20px;
    }
    p {
      font-size: 15px;
      background-color: var(--paper);
      font-weight: bold;
    }
  }
}
